body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff99cc, #ffffff);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.event-info {
    background-color: #ff0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.event-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-date {
    font-size: 18px;
}